html,body {
    height: 100%;
}

#body-content {
    height: 100%;
}
#header {
    position: relative;
    height: 200px;
    background-color: #009b5d;
}
#header-bkg {
}

#header-text {
    width: 800px;
    margin: auto;
    font-size: 40px;
}
#main-body {
    position: relative;
    width: 800px;
    margin: auto;
}